/* this is the css file for tablaue*/
.common {
    background-color: rgb(182, 211, 219);
    border: solid 2px rgb(143, 137, 137);
    position: absolute;}

.header {
    top: 2px;
    left: 2px;
    right: 2px;
    height: 107px;
    z-index: 2;}

.leftmenu {
    top: 110px;
    font-size: large;
    left: 2px;
    width: 144px;
    bottom: -1593px;
    z-index: 1;
    padding-top: 5px;}

.mainbody {
    top: 110px;
    bottom: -1593px;
    left: 148px;
    right: 148px;}

.rightmenu {
    top: 110px;
    bottom: -1593px;
    right: 2px;
    width: 144px;}

.footer {
    bottom: -1670px;
    font-family: fantasy;
    height: 75px;
    left: 2px;
    right: 2px;
    text-align: center;}

.subheader {
    float: right;}